*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
:root{
    --letra:'Montserrat', sans-serif;
    --letra2:'Oswald', sans-serif;
    --letra3:'Xanh Mono', monospace;
    --colorfondo:#807e7e;
    --colorletra: #fff;
    --letranegra: #000;
    --colorletra2: #424141;
}
body{
    background-color: var(--colorfondo);
    font-family: var(--letra);
    color: var(--colorletra);
}
.fondo{
 position: relative;
 border-radius: 20px;
 left: 15px; 
 margin: 1em;
 background-attachment: fixed;
 height: 800px;
 width: 95%;

}
nav {
    display: flex;
    width: 100%;
    flex-direction: block ;
    padding: 10px;
    background-color:#c1c1c1;
    text-decoration: none;
  }

  a {
    color: var(--letranegra);
    text-decoration: none;
    font-family: var(--letra2);
    padding: 10px;
    font-size: 25px;
  }

section h2{
    font-size: 39px;
    text-align: center;
    font-family:var(--letra2)
}
section{
    padding: 1em;
    background-color: var(--colorletra);
    color: var(--letranegra);

}
.recetas{
    background-color: var(--colorfondo);
}

.recetas h3{
    padding: 1em;
    color: var(--colorletra);
    text-align: justify;
    background-color: var(--colorletra2);
    border-radius: 10px;

}
.recetas h2{
    color: var(--colorletra2);
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--letra3);
}
.recetas img{
    position: relative;
    border-radius: 20px;
    left: 15px; 
    margin: 1em;
    background-attachment: fixed;
    height: 800px;
    width: 95%;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
    0 0 1rem rgba(0,0,0,0.2);
}
.recetas h4{
    text-decoration: none;
    font-size: 20px;
}

@media (max-height: 640px){

    nav {
        display: flex;
        width: 100%;
        flex-direction: column ;
        padding: 10px;
        background-color:#c1c1c1;
        text-decoration: none;
      }
    
      a {
        color: var(--letranegra);
        text-decoration: none;
        font-family: var(--letra2);
        padding: 10px;
        font-size: 25px;
      }
    

    .fondo{
        position: relative;
        border-radius: 20px;
        left: 15px; 
        margin: 1em;
        background-attachment: fixed;
        height:400px;
        width: 90%;
       
       }



    .recetas{
        background-color: var(--colorfondo);
    }
    
    .recetas h3{
        padding: 1em;
        color: var(--colorletra);
        text-align: justify;
        background-color: var(--colorletra2);
        border-radius: 10px;
    
    }
    .recetas h2{
        color: var(--colorletra2);
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: var(--letra3);
    }
    .recetas img{
        position: relative;
        border-radius: 20px;
        left: 15px; 
        margin: 1em;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 90%;
        box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
        0 0 1rem rgba(0,0,0,0.2);
    }
    .recetas h4{
        text-decoration: none;
        font-size: 20px;
    }
    
}